@import "tailwindcss";

@theme {
  --color-prim: #2c3d5a;
  --color-secon: #67ff94;
  --color-tert1: #8effd2;
  --color-tert2: #e7e7e7;
  --color-background: #2c3d5a;
  --color-foreground: #ededed;
  
  --font-family-sans: 'Mulish', sans-serif;
  
  /* Configuración de Sonner */
  --color-sonner-bg: #1f2937;
  --color-sonner-text: #ffffff;
  --color-sonner-success: #67ff94;
  --color-sonner-error: #ff6767;
  --border-radius-sonner: 8px;
  --font-family-sonner: 'Mulish', sans-serif;
}

body {
  @apply bg-background text-foreground font-sans;
}