@import "tailwindcss";

@font-face {
  font-family:'display';
  src: url('/fonts/roc-grotesk-wide-black.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-prim: #2c3d5a;
  --color-secon: #67ff94;
  --color-tert1: #8effd2;
  --color-tert2: #e7e7e7;
  --color-background: #2c3d5a;
  --color-foreground: #ededed;
  
  --font-family-sans: 'Mulish', sans-serif;
  --font-family-display: 'display', sans-serif;
  
  /* Configuración de Sonner */
  --color-sonner-bg: #e7e7e7;
  --color-sonner-text: #2c3d5a;
  --color-sonner-success: #67ff94;
  --color-sonner-error: #ff6767;
  --border-radius-sonner: 8px;
  --font-family-sonner: 'Mulish', sans-serif;
}

body {
  @apply bg-background text-foreground font-sans;
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

.toast-slide-in {
  animation: slide-in-right 0.3s ease forwards;
}